[submodule "connect-screen.com"]
	path = connect-screen.com
	url = https://github.com/taowen/connect-screen.com.git
[submodule "termux-x11"]
	path = termux-x11
	url = https://github.com/termux/termux-x11.git
[submodule "app/src/main/cpp/dependencies/openssl-cmake"]
	path = app/src/main/cpp/dependencies/openssl-cmake
	url = https://github.com/viaduck/openssl-cmake
